* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form {
  display: grid;
  place-items: center;
  background-color: #6D5D6E;
  height: 100vh;
}

form {
  background-color: lightsteelblue;
  padding: 2%;
  position: relative;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}

.image {
  margin-bottom: 23px;
}

img {
  width: 50%;
  height: 37%;
  border-radius: 50%;
  position: absolute;
  top: -77px;
  left: 54px;
}

form h2 {
  text-align: center;
  margin-bottom: 10%;
}

.name {
  margin-bottom: 8%;
}

.name label {
  display: block;
  margin-bottom: 2%;
  font-size: 17px;
  font-weight: 550;
}

.name input {
  width: 100%;
  height: 22px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid gainsboro;
  outline: none;
  background: transparent;
  font-weight: 590;
}

.passwrd {
  margin-bottom: 8%;
}

.passwrd label {
  display: block;
  margin-bottom: 2%;
  font-size: 17px;
  font-weight: 550;
  letter-spacing: 1.6px;
}

.passwrd input {
  width: 100%;
  height: 22px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid gainsboro;
  outline: none;
  background: transparent;
  font-weight: 590;
}


.name label::after {
  content: "*";
  color: red;
  height: 5px;
  width: 5px;
}

.passwrd label::after {
  content: "*";
  color: red;
  height: 5px;
  width: 5px;
}

.btn {
  margin-bottom: 8%;
}

.btn1 {
  width: 32%;
  padding: 2%;
  cursor: pointer;
  background-color: #EBD8B2;
  border-radius: 5px;
}

.btn2 {
  margin-left: 1%;
  width: 32%;
  padding: 2%;
  cursor: pointer;
  background-color: #EBD8B2;
  border-radius: 5px;
}

.btn3 {
  padding: 3%;
  cursor: pointer;
  background-color: #FFD3B0;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}